body.app-running {
	margin: 0;
	overflow: hidden;
}

.error-message {
	display: block;
	max-width: fit-content;
	margin: 20px auto;
	padding: 10px;
	border-radius: 12px;
	background: linear-gradient(rgb(255, 183, 183), rgb(255, 82, 82));
	color: #000;
}
.error-message::after {
	content: "See the console (developer tools) for more details.";
}
.error-message > pre {
	margin: 8px 0;
}
.error-message:empty {
	display: none;
}
